<html>
<head>
    <title>
        Automated Valuations
    </title>
</head>
<body>
<font face="arial" size="4" color="#898989">
    <h1>Please enter the property details below...</h1>
    <form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}
    {{ form.price.label }}
    {{ form.price }}
    {{ form.date_from.label }}
    {{ form.date_from }}
    {{ form.date_to.label }}
    {{ form.date_to }}
    {{ form.borough.label }}
    {{ form.borough }}
    <input type="submit" value="Submit">
    </form>
</font>
</body>
</html>